//Fonts
@font-family-name__base: 'Roboto';
body {
    input:focus,
    select:focus,
    textarea:focus{
        box-shadow: 0 0 3px 1px @lbt_main_color !important;
    }
    a {
        color: #222;
        &:hover {
            color: @lbt_main_color;
            text-decoration: none;
        }
    }
}
// Header
.greet.welcome {
    float: left;
}
.page-header .panel.wrapper,
.header.panel > .header.links > li,
.page-header .switcher,
.block-search input {
    border-color: #eee;
}
.block-search {
    padding: 9px 0 9px 15px;
    width: 410px;

}
.action.search {
    height: 50%;
    &::before {
        color: #000;
    }
}
.header.links a {
    color: #222;
    &:hover {
        color: @lbt_main_color;
        text-decoration: none;
    }
}
// Minicart
.minicart-wrapper {
    .action.showcart,
    .action.showcart.active{
        &::before {
            line-height: 50px;
        }
        &:hover::before {
            color: @lbt_main_color;
        }
        .counter.qty {
            margin-top: 15px;
            background: @lbt_main_color;
        }
    }

}
.block-minicart {
    a {
        color: #222 !important;
        &:hover {
            color: @lbt_main_color !important;
            text-decoration: none;
        }
    }
}
// Navigation
@media (min-width: 768px), print {
    .sections.nav-sections {
        margin-bottom: 0;
        .section-items.nav-sections-items {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            .nav-sections-item-content > .navigation {
                display: flex;
                justify-content: center;
                .level0 .submenu {
                    border-top: 3px solid @lbt_main_color;
                }
                li.level0 {
                    padding: 0;
                    > .level-top {
                        padding: 5px 20px;
                        display: inline;
                        text-transform: uppercase;
                        > .ui-menu-icon {
                            display: none;
                        }
                    }
                    .level1 .ui-menu-icon.ui-icon.ui-icon-carat-1-e {
                        display: none;
                    }
                }
            }
        }
    }
    .page-title {
        margin-top: 20px;
    }
}
@navigation__background: #fff;
@navigation-desktop-level0-item__color: #222;
@navigation-desktop-level0-item__hover__color: #fff;
@navigation-desktop-level0-item__hover__background: @lbt_main_color;
@submenu-desktop__background: #f2f2f2;
@submenu-desktop-item__hover__color: @lbt_main_color;
@submenu-desktop-item__active__color: @lbt_main_color;
@navigation-desktop-level0-item__active__color: #fff;
@navigation-desktop-level0-item__active__background: @lbt_main_color;
@navigation-desktop-level0-item__active__border-style: none;
// Mobile navigation
.nav-sections-item-switch {
    color: @lbt_main_color;
}
@navigation-level0-item__color: #222;
@submenu__background: #f2f2f2;
@navigation-level0-item__hover__color: @lbt_main_color;
@submenu-item__active__color: @lbt_main_color;
// Breadcrumbs
@media (min-width: 768px), print {
    #maincontent {
        padding-left: 0;
        padding-right: 0;
    }
    .breadcrumbs {
        max-width: none;
        background: #f2f2f2;
        padding: 20px 0;
        .items {
            max-width: 1280px;
            margin: 0 auto;
            .item {
                &::after {
                    color: @lbt_main_color;
                }
                a:hover {
                    color: @lbt_main_color;
                    text-decoration: none;
                }
                strong {
                    color: @lbt_main_color;
                }
            }
        }
    }
}
// Top buttons
.modes-mode.active {
    background: #ededed;
    &::before {
        color: @lbt_main_color;
    }
}
.action.sorter-action:hover::before {
    color: @lbt_main_color;
}
// Cards
.products.wrapper {
    a {
        color: #222;
        &:hover {
            color: @lbt_main_color !important;
            text-decoration: none;
        }
    }
    .actions-secondary a:hover::before {
        color: @lbt_main_color !important;
    }
}
.swatch-option.text:hover,
.swatch-option.text:focus,
.swatch-option.color:hover,
.swatch-option.color:focus,
.swatch-option.selected {
    border: 1px solid @lbt_main_color !important;
    color: #222 !important;
    outline: 1px solid @lbt_main_color !important;
    box-shadow: 0 0 3px 1px @lbt_main_color !important;
}
// Messages
.messages {
    a {
        color: #222 !important;
        &:hover {
            color: @lbt_main_color !important;
            text-decoration: none;
        }
    }
}
// Sidebar
.sidebar-main {
    background-color: @sidebar__background-color;
    padding: 15px;
    .block-title.filter-title {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
    li.item a {
        color: @lbt_main_color;
        &:hover {
            text-decoration: none;
        }
    }
    .block-actions.filter-actions a {
        color: @lbt_main_color;
    }
}
.sidebar-additional {
    margin-top: 20px;
    .block-compare,
    .block-wishlist {
        background-color: #f2f2f2;
        padding: 15px;
        .block-title {
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }
        .product-item-link:hover {
            color: @lbt_main_color;
            text-decoration: none;
        }
    }
}
// Pagination
.pages {
    .item {
        margin: 0 7px 0 0;
        .page {
            padding: 0 12px;
            color: #222;
            border: 1px solid #ddd;
            &:visited {
                color: #222;
            }
            &:hover {
                color: #222;
                background: #f2f2f2;
            }
        }
        &.current {
            .page {
                color: @lbt_main_color;
                background-color: #f2f2f2;
            }
        }
        .action.previous:hover,
        .action.next:hover{
            background: #f2f2f2;
        }
    }
}
// Footer
footer.page-footer {
    border-top: 1px solid #eee;
    .footer.content {
        border: none;
        .block.newsletter {
            .title {
                display: block;
            }
            .form.subscribe {
                display: flex;
                flex-direction: column;
                input {
                    margin-bottom: 5px;

                }
            }
        }
        .footer.links {
            .title {
                margin-bottom: 10px;
            }
            a {
                color: #222;
                &:hover {
                    color: @lbt_main_color;
                    text-decoration: none;
                }
            }
        }
        .copyright {
            border-top: 1px solid #eee;
            text-align: center;
            padding-top: 15px;
        }
    }
}
.action.primary {
    color: #fff !important;
    border-color: @lbt_main_color !important;
    background-color: @lbt_main_color !important;
    &:hover {
        border-color: @lbt_main_color_hover !important;
        background-color: @lbt_main_color_hover !important;
    }
}
// Product Page
.product-addto-links {
    a.action {
        color: #fff !important;
        border-color: @lbt_main_color !important;
        background-color: @lbt_main_color !important;
        &:hover {
            border-color: @lbt_main_color_hover !important;
            background-color: @lbt_main_color_hover !important;
        }
    }
}
